/*
	Mehrdad Dastgir
	Property of PraxisBT
	SmartBiz CSS 
	color sheet
*/
/* @orange color used for menu items and some buttons as the hover colour */
/* @button-blue used for login button color */
/* the red color used for titles */
.red {
  background-color: #ff0000;
}
.white {
  color: white !important;
}
.black {
  color: black !important;
}
.transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
.silver {
  background-color: #eaeaea;
}
